@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat:wght@400;500;700&display=swap');

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

/* Botões */

.button {
    border-radius: 6px;
    border: 1px solid #18A0FB;
}

.first-button {
    background-color: #18A0FB;
    color: #fff;
}

.second-button {
    background-color: #fff;
    color: #18A0FB;
}

.first-button:hover {
    background-color: #fff;
    color: #18A0FB;
}

.second-button:hover {
    background-color: #18A0FB;
    color: #fff;
}

.button-small {
    width: 130px;
    height: 40px;
    font-size: 15px;
}

.button-large {
    width: 192px;
    height: 52px;
    font-size: 17px;
}

/* Header */

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    max-width: 1200px;
    margin: auto;
}

.logo-nav {
    display: flex;    
    width: 50%;    
}

.logo-header {
    display: flex;    
    margin-right: 70px;   
}

.logo-header img {
    width: 20px;
    margin-right: 5px;
}

.logo-header p {
    font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
}

.nav-header ul li {
    display: inline;
    margin-right: 10px;
}

.nav-header ul li:last-child {
    margin-right: 0;
}

.nav-header ul li a {
    color: #18A0FB;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    padding: 6px;
    transition: 300ms;    
}

.nav-header ul li a:hover {
   background-color: #18A0FB;
   color: #fff;
   border-radius: 3px;
}


.buttons-header button:first-child {
    margin-right: 12px;
}

/* Section Video */

.opacity-video {
    background-color: rgba(0, 0, 0, 0.7);
    height: 960px;
}

.video {
    max-width: 100vw;
    height: 960px;
    position: relative;
    background-image: url('./img/photo-2.jpg');
    background-size: cover;
    margin: auto;
    margin-bottom: 120px;
}

.secao1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    height: 100%;
    margin: auto;
}

.play {
    width: 132px;
    height: 132px;
    background-color: #18A0FB;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play i {
    font-size: 59px;
    color: #FFF;
}

.secao1 h1 {
    font-size: 50px;
    margin-top: 86px;
    margin-bottom: 40px;
    width: 100%;
    color: #FFF;
    text-align: center;
    padding: 10px 40px;
}

/* Section News */

.news {
    max-width: 1200px;
    margin: auto;
}

.news h2 {
    width: 750px;
    font-size: 46px;
    margin-bottom: 60px;
}

.news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.news-card {
    width: 500px;
    margin-bottom: 60px;
}

.news-card h3 {
    font-size: 24px;
    font-weight: bold;
}

.news-card p{
    margin-top: 24px;
    margin-bottom: 32px;
    font-size: 18px;
    text-align: justify;
}